* {
    margin: 0;
}
body {
    display: flex;
    background: url(imagenes/fondo-rio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contenedorGeneral{
    /* border: solid rgb(68, 0, 255);  */
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.buscador {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buscador div:first-child{
    text-align: center;
 
}
#search{
    background-color: rgb(255, 255, 255);
    border: solid 0.2vh rgb(78, 78, 78);
    width: 18vw;
    height: 4vh;
    font-size: 3vh;
    border-radius: 0.5vh;
}
#searcher{
    background: none;
    font-size: 3vh;
    border: none;
    position: absolute;
}
#searcher:hover i{
    color: rgb(255, 255, 255);
}
#main {
    border: solid 0.3vh  rgb(87, 87, 87);
    border-radius: 2vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 60vw;
    height: 71vh; 
    padding-top: 0vh;
} 
#main::-webkit-scrollbar {
    width: 1vh;
}
#main::-webkit-scrollbar-thumb {
    width: 1vh;
    height: 10vh;
    background-color: rgba(12, 209, 12);
    border-radius: 1vh;
}
article {
    font-size: 3vh;
    border: 0.2vh solid rgb(90, 90, 90);
    width: 30vw;
    border-radius: 1vh;
    padding: 1vh;
    color: black;
    background: rgb(248, 248, 255, 0.3);
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article p{
    text-align: center;
}
#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72vw;
    /* border: solid rgb(250, 2, 2);  */
}
input[type = radio] {
    width: 4.5vw;
    height: 4.5vh;
    vertical-align: middle;
}
#medallasfiltro{
    list-style: none;
    border: solid 0.2vh black; 
     width: 15vw;
     height: 33vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-radius: 1vh;
}
#medallasfiltro label {
    /* border: solid red;  */
    text-align: left;
    vertical-align: middle;
    height: 4.8vh;
    margin: 1vh;
}
#medallasfiltro p:first-child {
    /* border: solid red;  */
    text-align: center;
}
.menuClass {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(45, 231, 12, 0.493);
    width: 26vw;
    height: 100vh;
    font-size: 3vh;
    color: rgb(66, 65, 65);
}
h1 {
    font-size: 6vh;
    border-width: thin;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3vh;
    color: rgb(20, 207, 20);
    text-align: center;
}
#ordenador {
    border: solid 0.2vh rgb(57, 58, 58);
    border-radius: 1vh;
    width: 10vw;
    min-width: 8vh;
    height: 5vh;
    min-height: 2vh;
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: 'Lato', sans-serif;
    margin-left: 50vw;
}
.option{
    font-size: 3vh;
}
.lema {
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
    color: rgb(8, 128, 8);
}
#menu p:first-child{
    margin-top: 5vh;
    font-size: 3.5vh;
    text-align: center;
}
li{
    border: solid blue;
    font-size: 3vh;
}
.menuh2{
    border-bottom: 0.2vh solid black;
    font-size: 4vh;
}
#disciplinas, #paises {
    font-size: 3vh;
    width: 13vw;
    height: 6vh;
    margin-top: 2vh;
    border: solid 0.2vh black;
    border-radius: 1vh;
    font-family: 'Lato', sans-serif;
    background: rgb(0,0,0,0);
}
.ocultar{
    display: none;
}
.verMas, #verMenos{
    font-size: 5vh;
    border-radius: 5vh;
    width: 7vh;
    background: white;
    padding: 0vw;
}
img{
    width: 5em;
    height: auto;
    margin-bottom: 2vh;
}
#coincidencias{
    margin-top: 2.5vw;
    position: absolute;
    width: 40vh;
    max-height: 30vh;
    overflow: auto;
    background-color: white;
}
.graficoclass{
    display: none;
}
.graficostyle{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100vw;
    height: 100vh;
}
#botongrafico{
    background: none;
    padding: 0vw;
    width: 4.5vw;
    height: 10vh;
    border: solid 0.3vh  rgb(57, 58, 58);
    font-size: 5vh;
    border-radius: 5vh;
    padding: 2vh;
}
#botongrafico:hover i{
    color: rgb(226, 224, 224);
}
.grafico{
    width: 50vw;
    height: 50vh;
}
#cerrargrafico{
    background: none;
    border: none;
    font-size: 7vh;
    color: rgba(235, 235, 210, 0.897);
    margin-left: 50vw;
}
#cerrargrafico:hover{
    color: rgba(182, 182, 175, 0.897);
    }
#myChart{
    /* border: solid red; */
    background-color: rgba(0, 0, 0, 0.788);
}
#botonMenu{
    display: none;
    color: rgb(116, 112, 112);
    background: none;
    border: none;
    height: 10vh;
    align-self: flex-start;
    position: absolute;
}
#botonMenu:hover i {
    color: beige;
}
#cerrarMenu{
    display: none;
}
@media (min-width: 320px) and (max-width: 700px) {
    #botonMenu{
        display: flex;
    }
    .ocultarMenu{
    display: none;
    }
    .menuClass{
        position: absolute;
        width: 80vw;
        background-color: rgb(49, 180, 26);
    }
    #cerrarMenu{
        display: flex;
        background: none;
        border: none;
        font-size: 7vh;
        color: rgba(99, 99, 99, 0.877);
        align-self: flex-end;
    }
    #cerrarMenu:hover i {
        color: rgb(216, 216, 216);
    }
    #botongrafico{
        width: 18vw;
    }
    #contenido {
       width: 100vw;
    }
    #disciplinas, #paises {
        width: 35vw;
    }
    #medallasfiltro{
         width: 50vw;
    }
    #search{
        width: 60vw;
    }
    .buscador {
        width: 80vw
    }
    #ordenador {
       width: 30vw;
    }
    input[type = radio] {
        width: 7vw;
        height: 7vh;

    }
    #main {
        width: 80vw;
    } 
    article {
        width: 60vw;
    }
    #coincidencias{
        width: 34vh;
        margin-top: 9vw;
    }
    .grafico{
        width: 100vw;
    }
    #cerrargrafico{
        margin-left: 80vw;
    }
}
@media (min-width: 700px) and (max-width: 1024px) {
    #botonMenu{
        display: flex;
        font-size: 2vh;
    }
    .ocultarMenu{
    display: none;
    }
    .menuClass{
        position: absolute;
        width: 80vw;
        background-color: rgb(49, 180, 26);
    }
    #cerrarMenu{
        display: flex;
        background: none;
        border: none;
        font-size: 7vh;
        color: rgba(99, 99, 99, 0.877);
        align-self: flex-end;
    }
    #cerrarMenu:hover i {
        color: rgb(216, 216, 216);
    }
    #botongrafico{
        width: 18vw;
    }
    #contenido {
       width: 100vw;
       height: 100vh;
    }
    #disciplinas, #paises {
        width: 35vw;
    }
    #medallasfiltro{
         width: 50vw;
    }
    #search{
        width: 60vw;
    }
    .buscador {
        width: 80vw
    }
    #ordenador {
       width: 30vw;
    }
    input[type = radio] {
        width: 7vw;
        height: 7vh;

    }
    #main {
        width: 80vw;
    } 
    article {
        width: 60vw;
    }
    #coincidencias{
        width: 45vh;
        margin-top: 7vw;
    }
    .grafico{
        width: 100vw;
    }
    #cerrargrafico{
        margin-left: 80vw;
    }
}